
.blog-page, .section-list{
    overflow: hidden;
    padding: 0rem 0.5rem;



    .project-preview {
        width: 100%;
    }


    // .project-preview:hover {

    //     .cover-image {
    //         transform: scale(1.5);
    //         z-index: 10;
    //     }

    //     .project-description {
    //         flex-basis: 100%;
    //         // margin-top: 0vh;
    //         // display: block;
    //         // width: 100%;
    //     }
    // }
}


// .blogpostcover {
//     // border-top: 1px;


//     h1 {
//         grid-column: 4/11;

//         font-size: 5rem;
//         font-weight: 90;
//         line-height: 4.5rem;
//         font-family: Kleukens;
//         // width: max-content;
//         // max-width: 70vw;
//         // display:inline-block;
//         vertical-align: top;
//     }

//     h2 {
//         display: inline;

//         vertical-align: top;
//         font-size: 1.5rem;
//         font-family: Kleukens;
//         // margin: 0rem 0.5rem;
//         // vertical-align: top;

//     }


//     .project-description{
      
//         p{
//             font-size: 1.5rem;
//         }
//     }

//     .cover-image {
//         // margin: 0rem 1rem;
//         grid-column: 2/4;

//         // max-width: 20vw;
//         video {
//             width: 100%;

//         }

//         .image-section {
//             // width: 40vw;
//             // height: 40vh;

//             img,
//             video {
//                 width: min-content;
//                 height: 40vh;
//                 // border-radius: 1rem;
//             }

//             iframe {
//                 width: 40vw;
//                 height: 40vh;
//                 border-radius: 15rem;
//             }
//         }

//     }

//     .title-img {
//         // transform: scale(2);
//         // width: 35%;
//         height: fit-content;
//         margin-top: 1rem;
//         margin-left: -3rem;
//         overflow: visible;

//         img {
//             object-fit: contain;
//         }
//     }

//     .date {
//         grid-column: 1/2;
//     }

//     .type {
//         grid-column: 11/13;
//         text-align: end;
//     }

//     // .fullwidth-image {
//     //     // grid-column: 3/10;

//     //     overflow: hidden;
//     //     width: 100vw;
//     //     height: 80vh;

//     //     div {
//     //         width: 100%;
//     //         height: 100%;

//     //         display: flex;
//     //         align-items: center;
//     //         overflow: hidden;

//     //         img {
//     //             object-fit: contain;
//     //         }

//     //     }
//     // }
// }

.blog {
    grid-column: span 2;
    
    h2 {
        background-color: rgb(68, 180, 68);
    }
}

.deep-sea-bots {
    .blogpostcover {
        // height: 40vh;

        .cover-image {
            //         // background-color: rgba(255, 255, 255, 0.5);
            //         // overflow: hidden;

            width: 50vw;
            height: 40vh;

            // border-radius: 20rem;
            
            .image-section {
                
                overflow: visible;
                // overflow: hidden;
                height: 100%;
                width: 100%;
                
                iframe {
                    border-radius: 200rem;

                    width: calc(100% * 4);
                    height: calc(100% * 4);
                    zoom: 0.25;

                    -ms-zoom: 0.25;
                    transform: scale(0.25) translateX(0%);

                    -moz-transform: scale(0.25);
                    -moz-transform-origin: 0% 0;
                    -o-transform: scale(0.25);
                    -o-transform-origin: 0% 0;
                    -webkit-transform: scale(0.25);
                    -webkit-transform-origin: 0% 0;

                }
            }
        }
    }
}


// .space {
//     .project-preview {
//         .blogpostcover {
//             .cover-image {
//                 width: 40vw;
//                 height: 40vh;

//                 .image-section {
//                     iframe {
//                         width: 100%;
//                         height: 100%;
//                     }
//                 }
//             }
//         }
//     }
// }

.blog-post {
    padding: 1rem;
    padding-top: 5rem;

    .blogpostcover {
        width: 100%;
        // display: flex;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        border-top: 1px;
        border-color: aliceblue;
        // border-style: solid;

        // grid-template-columns: repeat(12, 1fr);
        padding-top: 0.5rem;
        margin-bottom: 1rem;

        gap: 1rem;

        // .preview-title {
        h1 {
            font-size: 5rem;
            grid-column: span 8;
        }

        h2 {
            font-size: 1.5rem;
        }


        .cover-image {
            img,
            video {
                width: min-content;
                height: 20vh;
                border-radius: 1rem;
            }

            p.caption{
                margin: 0.5rem;
                line-height: 1.2rem;
                font-weight: 300;
            }
        }

        .project-description {
            padding: 0rem 0.5rem;
            display: flex;
            flex-direction: column;

            transition: all 0.5s ease;

            font-family: Kleukens;
            font-size: 1.5rem;
            line-height: 1.8rem;
            max-width: 70vw;

            h1{
                margin-bottom: 1rem;
            }

            p {
                max-width: 60vw;
            }

        }

        .type {
            // justify-self: flex-end;
            // text-align: end;
            // margin-left: auto;
            grid-column: span 1;

        }
    }

    .blog-post-content {
        // width:100vw;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        // gap: 1rem;
    
        .description {
            grid-column: 4/12;
            margin-bottom: 3.5rem;
            // width: 100%;
    
        }
    
        .image-section {
            width: 100%;
            display: flex;
            flex: 1 1 0;
    
            gap: 1rem;
    
            div {
                flex-basis: 100%;
            }
    
            .iFrame {
    
                iframe {
                    width: 100%;
                    height: 80vh;
                    border-radius: 2rem;
                    // zoom: 1.25;
                }
    
                p.caption {
                    text-align: center;
                }
            }
        }
    
        .text-section {
            max-width: 100%;
            display: flex;
            gap: 1rem;
        }
    }
}
