.blog-page,
.section-list {
    overflow: hidden;
    // padding: 0rem 0.5rem;



    .project-preview {
        width: 100%;
    }
}


.blog {
    grid-column: span 2;
    padding: 0.5rem 0.5rem;
    // margin-top: 0.5rem;
    transition: all 0.5s ease;
    
    &:hover {
        // background-color: rgb(0,0,0,0.06);
        // filter: drop-shadow(0px 0px 30px rgba(68, 180, 68, 1));
        // background: radial-gradient(circle, rgba(68,180,68,1) 0%, rgba(0,212,255,0) 100%);

        // border: 1px solid rgb(68, 180, 68);

        h1, p {
            color: rgb(68, 180, 68);
        }
    }


    h1, p {
        transition: color 0.5s ease;
    }

    h2 {
        background-color: rgb(68, 180, 68);
    }

    .postcover {
        grid-column: span 2;

        width: auto;
        display: flex;

        transition: all 0.3s ease;

        // &:hover {
        //     // border-left: 1px solid black;
        //     // padding-left: 1rem;
        //     background-color: rgb(0,0,0,0.1);

        // }

        gap: 1rem;
        margin-bottom: 1rem;

        h1 {
            font-size: 5rem;
            line-height: 4.5rem;
            margin-bottom: 1rem;
            // margin-top: 0px;

        }

        h2 {
            font-size: 1.5rem;
            font-family: Kleukens;
            height: fit-content;
            border-radius: 5rem;
            text-align: left;

            padding: 0.2rem 0.5rem;
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }

        .cover-image {
            // width: fit-content;
            img,
            video {
                width: auto;
                // width: min-content;
                height: 15vh;
                border-radius: 1rem;
                display: block;
            }

            iframe {
                height: 100%;
                width: 100%;
            }

        }

        .title-img {
            // transform: scale(0.5);
            height: fit-content;
            // margin-top: 3rem;
            overflow: visible;

            img {
                // height: 20vh;
                object-fit: contain;
            }
        }

        .project-description {
            // padding: 0rem 0.5rem;
            // display: flex;
            // flex-direction: column;

            transition: all 0.5s ease;

            font-family: Kleukens;
            max-width: 70vw;

            // h1{
            //     margin-bottom: 1rem;
            // }

            p {
                max-width: 50vw;
                font-size: 1.25rem;
                line-height: 1.5rem;
                opacity: 0.9;
                // display: none;

            }

        }

        .type {
            justify-self: flex-end;
            text-align: center;
            margin-left: auto;

        }
    }

}


.blog-post {
    padding: 1rem;
    padding-top: 5rem;

    .postcover {
        width: 100%;
        // display: flex;
        display: grid;
        // grid-template-columns: repeat(12, 1fr);

        border-top: 1px;
        border-color: aliceblue;
        // border-style: solid;

        // grid-template-columns: repeat(12, 1fr);
        padding-top: 1rem;
        margin-bottom: 1rem;

        gap: 1rem;

        &:hover {
            padding-left: 0rem;

        }

        // .preview-title {
        .project-description {
            grid-column: span 8;
            font-family: Kleukens;

            // display: flex;
            // flex-direction: column;

            h1 {
                font-size: 5rem;
                width: 100%;
            }

            .collaborators{
                // grid-column: 4 / 11;
                align-self: flex-end;
                margin-top: 7.5rem;

            }
        }


        h2 {
            display: inline;
            width: max-content;

            font-size: 1.5rem;
            font-family: Kleukens;
            height: fit-content;
            border-radius: 5rem;
            text-align: left;

            padding: 0.2rem 0.5rem;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            background-color: rgb(68, 180, 68);

        }


        .cover-image {
            grid-column: span 2;

            // .image-content{
            //     .video-section{
            //         video{
            //             // width: 20vw;
            //             object-fit: cover;
            //         }

            //     }
            // }

            img,
            video {
                // width: fit-content;
                // height: 100%;
                width: 100%;
                // height: 15vh;
                border-radius: 1rem;
            }

            p.caption {
                font-size: 1rem;
                line-height: 1.2rem;
                font-weight: 300;
                margin: 0.5rem;
                margin-top: 0.2rem;
                font-family: Kleukens;
            }
        }


        .type {
            grid-column: span 1;

        }
    }

    .blog-post-content {
        // width:100vw;
        // display: grid;
        // grid-template-columns: repeat(12, 1fr);
        // gap: 1rem;

        .description {
            grid-column: 4/11;
            margin-bottom: 3.5rem;
            font-size: 1.5rem;

            // width: 100%;

        }

        // .image-section {
        //     width: 100%;
        //     display: flex;
        //     flex: 1 1 0;

        //     gap: 1rem;

        //     div {
        //         flex-basis: 100%;
        //     }

        //     .iFrame {

        //         iframe {
        //             width: 100%;
        //             height: 80vh;
        //             border-radius: 2rem;
        //             // zoom: 1.25;
        //         }

        //         p.caption {
        //             text-align: center;
        //         }
        //     }
        // }

        // .text-section {
        //     max-width: 100%;
        //     display: flex;
        //     gap: 1rem;
        // }
    }
}

@media screen and (min-width: 720px) {
    .blog-post {
        .postcover {
            display: grid;
            grid-template-columns: repeat(12, 1fr);

            // .project-description {
            //     grid-row: 2;
            //     grid-column: span 3;

            // }
        }

        .blog-post-content {
            // width:100vw;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 1rem;
        }
    }
}



@media screen and (max-width: 720px) {
    .blog {
        .postcover {
            width: 100%;
            // flex-wrap: wrap;
            display: grid;
            grid-template-columns: auto auto 25vw;
            overflow: hidden;

            .cover-image {
                width: 25vw;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                grid-row: 2;
    

                img, video {
                    width: 100%;
                    height: auto;

                }
            }

            h2 {
                width: max-content;
            }

            .project-description {
                overflow: hidden;
                z-index: 2;
                grid-column: span 3;
                grid-row: 2;
                // max-width: 96vw;

                h1 {
                    width: 100%;
                    // word-break: break-word;
                    word-wrap: break-word;
                    font-size: 4rem;
                    line-height: 4rem;
                    margin-bottom: 0.5rem;

                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    -ms-word-break: break-all;
                    word-break: break-word;
                    -ms-hyphens: auto;
                    -moz-hyphens: auto;
                    -webkit-hyphens: auto;
                    hyphens: auto;
                }

                p {
                    max-width: 70vw;
                }
            }
        }
    }

    .blog-post {
        .postcover {
            display: grid;
            // grid-template-columns: auto auto 25vw;
            grid-template-columns: repeat(3, 1fr);
            // flex: 1;
            overflow: hidden;
            width: 100%;

            h2{
                // grid-column: span 3;

            }

            .cover-image{
                grid-column: span 1;
                grid-row: 2;
                // width: 25vw;

            }

            .project-description {
                grid-row: 2;
                // grid-column: 2/3;
                // width: 100%;

                h1{
                    word-break: break-word;
                    width: 100%;
                    font-size: 4rem;
                    line-height: 4rem;
                }

            }
        }

        .blog-post-content {

            .description {
                grid-column: 1/12;
            }

            .grid{
                display: block;
            }
        }
    }

}