html {
   scroll-behavior: smooth;
   font-size: clamp(10px, 1vw, 24px);
   background-color: #232323;
   // background-image: linear-gradient(rgb(7, 7, 233), yellow);


}

body {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.dark-theme {
   background-color: #232323;
   transition: all 1s ease;

   .work-page, .work-post, .blog-page, .blog-post, .space-page, .space-post{
      background-image: linear-gradient(#232323);
   
      color: #e8e6e6;
      transition: all 1s ease;
   
   }
   
   a {
      color: #e8e6e6;
      transition: all 1s ease;
   }
   
   .work-page {
      h1,
      h2 {
         color: #e8e6e6;
      }
   }

   .work-section, .blog-section, .space-section{
      background-color: #464646;
      color: #232323
   }
}

.grey-theme {
   background-color: #808080;
   transition: all 1s ease;

   .work-page, .work-post, .blog-page, .blog-post, .space-page, .space-post{
      // background-image: linear-gradient(#6f6f6f00, #6f6f6f00);
   
      color: #000000;
      transition: all 1s ease;
   
      a {
         color: #0f0f0f;
         transition: all 1s ease;
      }
   }
   
   .work-page {
      h1,
      h2 {
         color: #000000;
      }
   }
}

.light-theme {
   background-color: #e8e6e6;
   transition: all 1s ease;

   .work-page, .work-post, .blog-page, .blog-post, .space-page, .space-post {
      // background-color: #e8e6e6;
      background-image: linear-gradient(#e8e6e6);
   
      color: #000000;
      transition: all 1s ease;
   
   }
   
   a {
      color: #000000;
      transition: all 1s ease;
   }
   .work-section, .blog-section, .space-section{
      color: #cecece;
      background-color: #e8e6e6;
   }
}

.color-theme {
   background-color: rgba(0,0,0,0);
   background: linear-gradient(rgb(68, 180, 68), rgb(134, 134, 255), rgb(254, 214, 54), rgb(68, 180, 68), rgb(134, 134, 255), rgb(254, 214, 54));

   transition: all 1s ease;

   .work-page, .work-post {
      // background-color: rgb(254, 214, 54);
      background: linear-gradient(rgb(254, 214, 54), rgb(134, 134, 255));

      color: #000000;
      transition: all 1s ease;

      a {
         color: #000000;
         transition: all 1s ease;

      }
   }

   .work-section, .work-page{
      .project-preview {
         .cover-title{
            padding: 0.5rem;
            background: rgb(254, 214, 54);
            // background: linear-gradient(rgb(254, 214, 54), rgb(134, 134, 255, 0.3));
            border-radius: 2rem;
            h1 {
               font-size: 3rem;
               line-height: 2.5rem;
           }
         }
      }
   }

   .blog-page, .blog-post {
      // background-color: rgb(68, 180, 68);
      background: linear-gradient(rgb(68, 180, 68), rgb(134, 134, 255));

      color: #000000;
      transition: all 1s ease;

      a {
         color: #000000;
         transition: all 1s ease;

      }
   }

   .blog-section{
      .project-preview {
         // padding: 0.5rem 0rem;
         // background: rgb(68, 180, 68);
         // background: linear-gradient( rgb(134, 134, 255, 0.3), rgb(68, 180, 68));
         // border-radius: 3rem;

         .cover-title {
            width:fit-content;

            // h1 {
            //     font-size: 3rem;
            //     line-height: 3rem;
            // }
         }
      }
   }

   .space-page, .space-post {
      // background-color: rgb(134, 134, 255);
      background: linear-gradient(rgb(134, 134, 255), rgb(254, 214, 54));

      color: #000000;
      transition: all 1s ease;

      a {
         color: #000000;
         transition: all 1s ease;

      }
   }

   .space-section, .space-page{
      .project-preview {
         .cover-title{
            // padding: 0.6rem;
            background: rgb(134, 134, 255);
            // background: linear-gradient(rgb(134, 134, 255), rgb(254, 214, 54, 0.6));
            h1 {
               font-size: 3rem;
               line-height: 3rem;
           }
         }
      }
   }
}