.index-page {
    width: 100vw;

    .project-list {
        // padding: 2rem 0rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .work-section,
    .blog-section,
    .space-section {
        width: auto;
        padding: 0.5rem 0rem;
        margin: 0.5rem;
        border-radius: 2rem;
        margin-bottom: 10vh;
        margin-top: 2rem;

        a {
            color: #000000;
            transition: all 1s ease;
   
         }
    }


}