.index-page {
    // width: 100vw;
    // padding-top: 6rem; 

    .top-space {
        height: 8vh;
    }

    .section-list {
        // padding: 2rem 0rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // gap: 2rem 0rem;

        .vibes-swiper {
            width: 100%;
            // height: 60vh;
            overflow: hidden;
            grid-column: span 2;
            background-color: black;


        }

    }


    .hero {
        grid-column: span 4;
    }

}

@media screen and (max-width: 720px) {

    .vibes-swiper {
        // height: 60vh;

        .swiper {
            height: auto;

            // height: 60vh;
            .swiper-slide {
                justify-content: center;

                img,
                video {
                    height: 60vh;
                    // height:max-content;

                }
            }

        }

    }
}