.index-page {
    .project-list {
        padding: 2rem 0rem;
    }

    .work-section,
    .blog-section,
    .space-section {
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 2rem;
    }


}