   .space {
       grid-column: span 2;
       padding: 0rem 0.5rem;
       margin-top: 1rem;

       h2 {
           background-color: rgb(134, 134, 255);
       }

       .postcover {
           grid-column: span 2;

           width: auto;
           display: flex;

           transition: all 0.3s ease;

           &:hover {
               // border-left: 1px solid black;
               padding-left: 1rem;

           }

           gap: 1rem;
           margin-bottom: 1rem;

           h1 {
               font-size: 5rem;
               line-height: 4.5rem;
               margin-bottom: 1rem;
               // margin-top: 0px;

           }

           h2 {
               font-size: 1.5rem;
               font-family: Kleukens;
               height: fit-content;
               border-radius: 5rem;
               text-align: left;

               padding: 0.2rem 0.5rem;
               border-style: solid;
               border-width: 1px;
               border-color: black;
           }

           .title-img {
               // transform: scale(0.5);
               height: fit-content;
               // margin-top: 3rem;
               overflow: visible;

               img {
                   // height: 20vh;
                   object-fit: contain;
               }
           }



           .project-description {
               // padding: 0rem 0.5rem;
               // display: flex;
               // flex-direction: column;

               transition: all 0.5s ease;

               font-family: Kleukens;
               max-width: 70vw;

               // h1{
               //     margin-bottom: 1rem;
               // }

               p {
                   max-width: 50vw;
                   font-size: 1.25rem;
                   line-height: 1.5rem;
                   opacity: 0.9;
                   // display: none;

               }

           }

           .type {
               justify-self: flex-end;
               text-align: center;
               margin-left: auto;

           }
       }

       .cover-image {
           height: 60vh;
           width: 70vw;

           overflow: hidden;

           display: flex;
           justify-content: center;
           align-items: center;

           border-radius: 25vw;

           img,
           video {
               min-width: fit-content;
               min-height: fit-content;
               border-radius: 1rem;
           }

           iframe {
               height: 100%;
               width: 100%;
           }

           video{
            width: 70vw;
           }

       }

    //    .deep-sea-bots {
    //        .postcover {
    //            .cover-image {
    //                   padding-top: 25rem;
    //            }
    //        }
    //    }
   }

   .space-post {
       padding: 1rem;
       padding-top: 5rem;


       .postcover {
           width: 100%;
           height: 100vh;
           display: flex;
           // justify-content: space-between;
           // display: grid;
           // grid-template-columns: repeat(12, 1fr);

           border-top: 1px;
           border-color: aliceblue;
           // border-style: solid;

           // grid-template-columns: repeat(12, 1fr);
           padding-top: 1rem;
           margin-bottom: 1rem;

           gap: 1rem;

           &:hover {
               padding-left: 0rem;

           }

           h2 {
               background-color: rgb(134, 134, 255);
               font-size: 1.5rem;
               font-family: Kleukens;
               height: fit-content;
               border-radius: 5rem;
               text-align: left;

               padding: 0.2rem 0.5rem;
               border-style: solid;
               border-width: 1px;
               border-color: black;
           }

           // .preview-title {
           .project-description {
               grid-column: span 8;

               h1 {
                   font-size: 5rem;
               }
           }



           h2 {
               font-size: 1.5rem;
               display: inline;
               // width: max-content;
           }


           .cover-image {
               //    position: absolute;
               grid-column: span 8;
               height: 80vh;
               width: 80%;
               border-radius: 25vw;
               overflow: hidden;

               img,
               video {
                   width: min-content;
                   height: 100%;
                   border-radius: 1rem;
               }

               iframe {
                   height: 100%;
                   width: 100%;
               }


               p.caption {
                   margin: 0.5rem;
                   line-height: 1.2rem;
                   font-weight: 300;
               }
           }

           .title-img {
               // transform: scale(0.5);
               height: fit-content;
               margin-left: auto;

               overflow: visible;

               img {
                   // height: 20vh;
                   object-fit: contain;
               }
           }

           .type {
               //    justify-self: flex-end;
               margin-left: auto;
               width: max-content;
           }
       }

    .space-post-content {
        // width:100vw;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;

        .description {
            grid-column: 4/11;
            margin-bottom: 3.5rem;
            font-size: 1.5rem;

            // width: 100%;

        }
    }

    //    .space-post-content {
    //        // width:100vw;
    //        display: grid;
    //        grid-template-columns: repeat(12, 1fr);
    //        gap: 1rem;

    //        .description {
    //            grid-column: 4/11;
    //            margin-bottom: 3.5rem;
    //            font-size: 1.5rem;

    //            // width: 100%;

    //        }

    //        .image-section {
    //            width: 100%;
    //            display: flex;
    //            flex: 1 1 0;

    //            gap: 1rem;

    //            div {
    //                flex-basis: 100%;
    //            }

    //            .iFrame {

    //                iframe {
    //                    width: 100%;
    //                    height: 80vh;
    //                    border-radius: 2rem;
    //                    // zoom: 1.25;
    //                }

    //                p.caption {
    //                    text-align: center;
    //                }
    //            }
    //        }

    //        .text-section {
    //            max-width: 100%;
    //            display: flex;
    //            gap: 1rem;
    //        }
    //    }
   }

   .deep-sea-bots {
       .postcover {
           .cover-image {
               background-color: rgba(255, 255, 255, 0.5);
               overflow: hidden;
               //    padding-top: 10rem;


               // overflow: visible;
               iframe {
                   // overflow: visible;
                   width: calc(100% * 2.2);
                   height: calc(100% * 2);
                   zoom: 1;

                   -ms-zoom: 0.5;
                   transform: scale(0.5) translateX(-200px);

                   -moz-transform: scale(0.5);
                   -moz-transform-origin: -200px 0;
                   -o-transform: scale(0.5);
                   -o-transform-origin: -200px 0;
                   -webkit-transform: scale(0.60);
                   -webkit-transform-origin: -20% -20%;

               }

           }

           .title-img {
               max-width: 17vw;
           }
       }
   }

   .full-width {
       .deep-sea-bots {
           .cover-image {
               background-color: rgba(255, 255, 255, 0.5);
               overflow: hidden;

               .image-section {

                   // overflow: visible;
                   iframe {
                       // overflow: visible;
                       width: calc(100% * 2.2);
                       height: calc(100% * 2);
                       zoom: 0.5;

                       -ms-zoom: 0.5;
                       transform: scale(0.5) translateX(-200px);

                       -moz-transform: scale(0.5);
                       -moz-transform-origin: -200px 0;
                       -o-transform: scale(0.5);
                       -o-transform-origin: -200px 0;
                       -webkit-transform: scale(0.5);
                       -webkit-transform-origin: -200px 0;

                   }
               }
           }
       }
   }



   .space-post-content {
       padding: 1rem;
       display: grid;
       grid-template-columns: repeat(12, 1fr);
       gap: 1rem;

       .description {
           grid-column: span 9;
           margin-bottom: 3.5rem;

           p {
               font-size: 2rem;
               line-height: 2.2rem;
           }
       }

       .image-section {
           width: 100%;
           display: flex;
           flex: 1 1 0;

           gap: 1rem;

           div {
               flex-basis: 100%;
           }
       }

       .text-section {
           max-width: 100%;
           display: flex;
           gap: 1rem;
       }
   }

   @media screen and (min-width: 720px) {
    .deep-sea-bots  {
        .postcover{
            .cover-image{
                // padding-top: 25rem;

            }
        }
    }
   }

   @media screen and (max-width: 720px) {
    .space {
        .postcover {
            height: 46vh;
            display: grid;
            grid-template-columns: auto auto 25vw;
            overflow: hidden;

            .title-img{
                // max-width: 40vw;
                // max-height: 10vh;
            }

            .cover-image{
                position: absolute;
                height: 35vh;
                width: 98vw;
                display: flex;
                justify-content: center;
                margin-top: 10vh;
                border-radius: 30rem;
                overflow: hidden;

                video{
                    height: 38vh;
                }

            }

            h2{
                z-index: 2;
                width: max-content;
            }
        }
    }

    .deep-sea-bots  {
        .postcover{
            .title-img{
                max-width: none;
                height: 10vh;

                img{
                    height: 15vh;
                }
            }

            .cover-image{
                padding-top: 15rem;

                video{        
                    width: 130vw;
                    height: 40vh;
                }
            }
        }
    }
}