@font-face {
   font-family: Signifier;
   src: url('../assets/fonts/signifier-web-thin.woff2');
}

@font-face {
   font-family: Kleukens;
   src: url('../assets/fonts/Kleukens/Kleukens-EgyptienneFSLWeb-Light.woff');
}

@font-face {
   font-family: PPCirka;
   src: url('../assets/fonts/PPCirka/PPCirka-Regular.woff');
}

@font-face {
   font-family: PangramRoundedBold;
   src: url('../assets/fonts/PPPangram/PPPangramSansRounded-CondensedBold.woff2');
}

@font-face {
   font-family: PangramRoundedBoldItalic;
   src: url('../assets/fonts/PPPangram/PPPangramSansRounded-CondensedBoldItalic.woff2');
}

@font-face {
   font-family: PangramRoundedNarrowSemibold;
   src: url('../assets/fonts/PPPangram/PPPangramSansRounded-NarrowSemibold.woff2');
}

@font-face {
   font-family: PangramRoundedCompactRegular;
   src: url('../assets/fonts/PPPangram/PPPangramSansRounded-CompactRegular.woff');
}

@font-face {
   font-family: PangramSansRegular;
   src: url('../assets/fonts/PPPangram/PPPangramSans-Medium.woff2');
}

@font-face {
   font-family: "PPAgrandir";
   src: url('../assets/fonts/PPAgrandir/PPAgrandir-Variable.woff2') format("woff2-variations"),
        url('../assets/fonts/PPAgrandir/PPAgrandir-Variable.woff2') format("woff2 supports variations");
   font-weight: 0 950;
   // font-stretch: 225% 125%;
   // font-variation-settings: "wdth" 100;
   font-variation-settings: "ital" 1;
   font-style: oblique 0deg 12deg;
   font-stretch: 75% 175%;

   font-optical-sizing: auto;
   font-variation-settings: "opsz" 36;
}

html {
   color: black;
   font-family: PPAgrandir;
   // font-size: clamp(10px, 1vw, 16px);
   font-size: clamp(8px, 1vw, 14px);
}

.prom-text {
   p {
       font-size: 1.8rem;
       line-height: 2.25rem;
       margin-bottom: 1rem;
       font-family: Kleukens;
   }
}

@media screen and (max-width: 720px) {

   html {
      font-size: clamp(10px, 1vw, 16px);
   }
   
}