.image-section {
    // margin-bottom: 3.5rem;
    height: 100%;
    margin-bottom: 4.5rem;

    font-family: Kleukens;
    word-wrap: break-word;
    // justify-content: center;

    .block {

        .image,
        .video-section,
        .website {
            margin-bottom: 4.5rem;
        }

        .image {
            // flex-basis: 32.8%;
            width: fit-content;
            // height: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;

            img {
                // height: 80vh;
                width: fit-content;
                max-height: 60vh;
                object-fit: contain;
                overflow: visible;

                margin-left: auto;
                margin-right: auto;
            }
        }

        .video-section {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;

            video {
                width: fit-content;
                max-height: 80vh;
                // object-fit: cover;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .grid {

        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        flex: 1 1 0;

        gap: 1rem;

        .image {
            // flex-basis: 32.8%;
            width: 100%;
            // height: 100%;

            img {
                // height: 80vh;
                // width: auto;
                // height: 100%;
                // object-fit: contain;
                overflow: visible;
            }
        }

        .video-section {
            // flex-basis: 32.8%;
            width: 100%;
            margin-bottom: 4.5rem;

            video {
                // max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                // max-height:max-content;
            }
        }

    }


    h1 {
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        text-align: center;
        width: 100%;
        font-weight: bold;
        
    }

    h2 {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        // font-weight: bold;
        justify-self: center;
        text-align: center;
        font-family: PangramRoundedNarrowSemibold;
        font-size: 3rem;
        
    }

    h3 {
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        font-weight: bold;
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    p.caption {
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: 300;
        margin: 0.5rem;
        margin-top: 0.2rem;
        font-family: Kleukens;
        text-align: center;
    }

    a {
        color: grey;
    }

    // .image-section {
    //     height: 100%;

    // .video-section {
    video {
        // height: 80vh;
        max-width: 100%;
        max-height: 90vh;
    }

    // img {
    //     // height: 80vh;
    //     width: 100%;
    // }

    .website {
        width: 100%;
        flex-basis: 100%;

        iframe {
            width: 100%;
            height: 65vh;

        }
    }

    #hand{
        position: relative;
        right: -42vw;
        justify-self: flex-end;
        margin-right: auto;
        
        width: 70px;
        height: 70px;
        
        img{
            margin-top: -4rem;
            width: 70px;
        }
    }

    // width: 30vw;
    // }
    // }

}

.text-section, .description {
    // height: 100%;
    margin-bottom: 4.5rem;

    font-family: Kleukens;
    word-wrap: break-word;

    div {
        flex-basis: 100%;
    }

    h1.content-title {
        margin-bottom: 1rem;
        
    }

    h2 {
        margin-bottom: 1.5rem;
        font-family: PangramRoundedNarrowSemibold;
        font-size: 3rem;
        font-weight: bold;
        // font-family: PangramRoundedNarrowSemibold;
        letter-spacing: 1px;
        text-align: center;

    }

    h3 {
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        font-weight: bold;
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1rem;
        // white-space: pre;
        // text-indent: 2rem;
        // font-family: PangramSansRegular;

        strong {
            font-weight: bold;
        }

        em {
            // display: flex;
            // justify-content: center;
        }
    }

    blockquote,
    q {
        line-height: 2.5rem;
        text-align: center;
    }

    ul, ol {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 3rem 0rem;

        li {
            list-style-type: circle;
            list-style-position: inside;
            font-family: Kleukens;
            margin: 1rem 0rem;
        }
    }

    table {
        width: 80%;
        border-collapse: collapse;
        text-align: center;
        margin: auto;
      }
      
      table, th, td {
        border: .1rem solid #999;
        padding: .2em;
      
      }
      
      th {
        background-color: #555;
      }
       

    p.caption {
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: 300;
        margin: 0.5rem;
        margin-top: 0.2rem;
        font-family: Kleukens;
    }

    a {
        color: grey;
        font-size: 1.4rem;
        // text-decoration: underline;
        background-color: rgb(117, 117, 117, 0.3);
        padding: 0rem 0.4rem;
        border-radius: 1rem;
    }

    // .image-section {
    //     height: 100%;

    // .video-section {


    // width: 30vw;
    // }
    // }

}

.swiper {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .swiper-slide {
        // width:fit-content;
        width: auto;
        height: 100%;
        overflow: hidden;

        img,
        video {
            // width: min-content;
            height: 80vh;
            width: auto;
            // height: 100%;
            border-radius: 0rem;
            display: inline;
            object-fit: contain;
        }
        
        .swiper-img{
            // max-width: 90vw;
            max-height: 80vh;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }
}

.blog-swiper{
    height: 60vh;
    width: 100%;
    overflow: hidden;

    .swiper-slide {
        // width:fit-content;
        width: auto;
        height: 100%;

        img,
        video {
            // width: min-content;
            max-height: 60vh;
            // height: max-content;
            border-radius: 0rem;
            display: inline;
        }

        .swiper-img{
            max-width: 60vw;
            max-height: 80vh;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }
}

.swiper-img {
    // object-fit: contain;
    // height: 100%;
}

.swiper-buttons {
    position: absolute;
    top: 0vh;
    display: inline-flex;
    z-index: 1;
    width: 100%;
    height: 100%;


}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
    outline: none !important;
    
    img {
        opacity: 0;
        // transform: scale(0.5);

        max-width: 3rem;
       max-height: 5rem;
        // height: 40px !important;
        margin: 1rem 1rem;
    }
}

.swiper-button-prev {
    cursor: url('arrow-left.png'), auto;	
    justify-content: flex-start;

    img {
        transform: rotateY(180deg) ;
    }
}

.swiper-button-next {
    cursor: url('arrow-right.png'), auto;	
    // transform-origin: center;
    justify-content: flex-end;
}

@media screen and (max-width: 720px) {
    .text-section {
        grid-column: 1/13 !important;

        ul, ol {
            li {
                list-style-position: inside;
            }
        }
    }

    .image-section {
        display: block;
        grid-column: 1/13 !important;

        #hand{
            position: relative;
            right: -72vw;
            justify-self: flex-end;
            margin-right: auto;
            
            width: 40px;
            height: 40px;
            margin-top: -8rem;
            
            img{
                margin-top: -8rem;
                width: 40px;
            }
        }
    }

    .blog-swiper{    
        .swiper-slide {
            .swiper-img{
                max-width: 95vw;
            }
        }
    }

    .swiper {
        height: 100%;
        width: 100%;
        overflow: hidden;
        // background-color: black;
        // display: flex;
        // align-items: center;
        
        .swiper-slide {
            // width:fit-content;
            width: auto;
            height: 100%;
            
            align-items: center;
    
            img,
            video {
                // width: min-content;
                height: 60vh;
                width: auto;
                // width: 100vw;
                // height: auto;
                border-radius: 0rem;
                display: inline;
            }
    
        }
    }

    .swiper-button-prev,
    .swiper-button-next {

        img {
            opacity: 1;
            // width: 30px;
            // height: 160px !important;
            // margin: 1rem 3rem;
        }
    }
}