.image-section {
    // margin-bottom: 3.5rem;
    height: 100%;
    // margin-bottom: 4.5rem;

    font-family: Kleukens;
    word-wrap: break-word;
    // justify-content: center;

    .image-content{
        display: flex;
        justify-content: center;

        .video-section{
            // flex-basis: 32.8%;

            video{
                // max-width: 100%;
                max-height:80vh;
            }
        }
    }

    .grid {

        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        flex: 1 1 0;

        gap: 1rem;

        .image {
            flex-basis: 32.8%;

            img {
                // height: 80vh;
                width: 100%;
            }
        }

        .video-section{
            // flex-basis: 32.8%;

            video{
                max-width: 100%;
                max-height:max-content;
            }
        }

    }


    h1 {
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        text-align: center;
        width: 100%;
        font-weight: bold;
    }

    h2 {
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        // font-weight: bold;
    }

    h3 {
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        font-weight: bold;
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    p.caption {
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: 300;
        margin: 0.5rem;
        margin-top: 0.2rem;
        font-family: Kleukens;
        text-align: center;
    }

    a {
        color: grey;
    }

    // .image-section {
    //     height: 100%;

    // .video-section {
    video {
        // height: 80vh;
        max-width: 100%;
        max-height: 90vh;
    }

    img {
        // height: 80vh;
        width: 100%;
    }

    .website {
        width: 100%;
        flex-basis: 100%;

        iframe {
            width: 100%;
            height: 65vh;

        }

    }

    // width: 30vw;
    // }
    // }

}

.text-section {
    // margin-bottom: 3.5rem;
    height: 100%;
    margin: 4.5rem 0rem;

    font-family: Kleukens;
    word-wrap: break-word;

    // display: flex;
    // flex: 1 1 0;

    // gap: 1rem;

    div {
        flex-basis: 100%;
    }

    h1.content-title{
        margin-bottom: 1rem;
    }

    h2 {
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        font-weight: bold;
    }

    h3 {
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        font-weight: bold;
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1rem;

        strong {
            font-weight: bold;
        }

        em {
            // display: flex;
            // justify-content: center;
        }
    }
    
    blockquote, q{
        line-height: 2.5rem;
        text-align: center;
    }

    ul {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 3rem 0rem;

        li {
            list-style-type: circle;
            margin: 1rem 0rem;
        }
    }

    p.caption {
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: 300;
        margin: 0.5rem;
        margin-top: 0.2rem;
        font-family: Kleukens;
    }

    a {
        color: grey;
        font-size: 1.4rem;
        // text-decoration: underline;
        background-color: rgb(117, 117, 117, 0.3);
        padding: 0rem 0.4rem;
        border-radius: 1rem;
    }

    // .image-section {
    //     height: 100%;

    // .video-section {


    // width: 30vw;
    // }
    // }

}

.swiper {
    height: 80vh;
    width: 100%;
    overflow: hidden;

    .swiper-slide {
        // width:fit-content;
        width: auto;
        height: 100%;

        img,
        video {
            // width: min-content;
            height: 80vh;
            // height: 100%;
            border-radius: 0rem;
            display: inline;
        }

    }
}

.swiper-img {
    object-fit: contain;
    height: 100%;
}

.swiper-buttons {
    position: absolute;
    top: 0vh;
    display: inline-flex;
    z-index: 1;
    width: 100%;
    height: 80vh;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    width: 50%;
    outline: none !important;
}

//  .swiper-button-prev{
//     cursor: url('arrow-left.svg'), auto;	
//  }

//  .swiper-button-next{
//     cursor: url('arrow-right.svg'), auto;	
//     transform-origin: center;
//  }

@media screen and (max-width: 720px) {
    .text-section {
        grid-column: 1/13 !important;

        ul {
            li {
                list-style-position: inside;
            }
        }
    }

    .image-section {
        display: block;
        grid-column: 1/13 !important;
    }
}