.heightfill {
    height: 80vh;
}

.layout {
    nav {
        position: fixed;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        padding: 0.3rem;

        width: calc(100vw - 0.6rem);

        ul {
            li {
                border-radius: 1rem;
                padding: 0.2rem 0.5rem;
            }
        }

        .nav-group{
            display: flex;
        }
    }

    .nav-meta, .color-modes {
        display: flex;

        li {
            background-color: white;
        }
    }

    .nav-sites {
        text-transform: uppercase;
        display: flex;

        li {
            font-weight: 100;
            font-style: italic;
            font-synthesis: none;
            font-stretch: 175%;
            text-align: center;
            transition: all 0.5s ease;
        }

        li:hover {
            font-weight: 900;
        }


        #space {
            background-color: rgb(254, 214, 54);
        }

        #blog {
            background-color: rgb(134, 134, 255);
        }

        #work {
            background-color: rgb(68, 180, 68);
        }

    }

}