main {
    div {
        a {
            display: none;
        }
    }
}

.rounded-button {
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    background-color: lavenderblush;
    color: black;

    a {
        color: black;
    }
}

.heightfill{
    height: 80vh;
}

.layout {
    p {
        font-size: 4rem;
        color: black;
    }

    header {
        width: 100%;
    }


    .nav-meta {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr auto 1fr;

        #about-buttons {
            justify-self: flex-start;
        }

        #color-mode {
            justify-self: flex-end;
        }

        li#logo {
            display: flex;
            justify-content: center;
            width: 80vw;

        }

        #about-buttons {
            display: flex;
        }


    }

    .nav-sites {
        text-transform: uppercase;

        li {
            width: 100%;
            padding: 0.3rem;

            a {
                color: aliceblue;
            }

        }

    }

    ul {
        display: flex;
        justify-content: space-between;

        li {
            border-radius: 1rem;

            display: flex;
            justify-content: center;
        }

        #space {
            background-color: rgb(255, 0, 0);
        }

        #blog {
            background-color: blue;
        }

        #work {
            background-color: rgb(0, 255, 0);
        }
    }

}