.heightfill {
    height: 0vh;
}

.layout {
    overflow: auto;
    // padding-bottom: 10vh;

    .nav-header{
        position: fixed;
    }

    nav {
        display: flex;
        // justify-content: space-between;
        z-index: 10;
        padding: 0.3rem;
        width: calc(100vw - 0.6rem);

        a {
            color: #000000;
        }

        a:hover {
            // font-weight: 500;
            // font-stretch: 275%;
            li{
                margin-top: 0.75rem;
            }
        }

        ul {
            display: flex;

            li {
                border-radius: 1rem;
                padding: 0.2rem 0.5rem;
                height: 5rem;
                transition: all 0.5s ease;
                
                // background-color: rgb(255, 255, 255);

            }
        }

        .nav-group {
            display: flex;
        }
    }

    .nav-meta, .nav-footer {
        li {
            background-color: rgb(255, 255, 255);
            font-family: PangramRoundedBold;

        }

        #logo{
            font-size: 2rem;
            font-family: PangramRoundedBold;
        }
        
        #studio{
            font-family: PangramRoundedBoldItalic;
        }
    }

    .color-modes {
        // display: flex;
        // flex-direction: column;
        // position: fixed;
        margin-left: 10rem;
        // justify-content: center;
        // margin-right: 2rem;

        li {
            display: flex;
            justify-content: center;
  
            // gap: 0rem;
            margin: 0rem -1.5rem;
            // margin-bottom: 2rem;
            font-size: 2rem;

            transition: all ease 0.5s;   

            #star{
                position: fixed;
                left: 1rem;
                bottom: 20vh;
            }
            #sun{
                position: fixed;
                top: 0.5rem;
                right: 30vw;
            }
            #rainbow{
                position: fixed;
                bottom: 1rem;
                right: 20vw;
            }

            #cloud{
                position: fixed;
                top: 20rem;
                right: 1vw;
            }
        }

        .active-button{
                transform:translateX(0px);
                z-index: 10;
                // font-size: 3rem;
                visibility:visible;
                display:contents;

                // filter: drop-shadow(0 0 1rem white);
                // opacity: 1;
        }

        button{
            img{
                // max-height: 5.25rem;
                // max-width: 6.5rem;
                max-height: 4.25rem;
                max-width: 5.5rem;
                transition: all ease 0.5s;   

            }
        }

        li:hover{
            img{
                transform: scale(1.2);
                // transition: all ease 0.5s;   

            }

        }

    }


    .nav-sites {
        // text-transform: uppercase;
        display: flex;

        li {
            font-weight: 300;
            font-style: italic;
            font-synthesis: none;
            font-stretch: 175%;

            font-family: PangramRoundedNarrowSemibold;
            font-size: 1.7rem;

            text-align: center;
            transition: all 0.5s ease;
            margin: 0px -1px;
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }

        a:hover {
            // font-weight: 500;
            // font-stretch: 275%;
            li{
                margin-top: 0.75rem;
            }
        }


        .space {
            background-color: rgb(134, 134, 255);
            // background-image: linear-gradient(rgb(134, 134, 255), yellow);
        }

        .blog {
            // background-image: linear-gradient( rgb(149, 182, 0), rgb(134, 134, 255));
            background-color: rgb(68, 180, 68);

        }

        .work {
            background-color: rgb(254, 214, 54);            
            // background-image: linear-gradient( rgb(254, 214, 54), rgb(255, 6, 6),);
        }

        .border{
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }

    }


}

@media screen and (max-width: 720px) {


    #logo{
        width: fit-content;
        display: flex;
        gap: 0.5rem;
    }

    #sun{
        position: fixed;
        margin-top: 3rem;
        left: 80vw;
    }


    #star{
        position: fixed;
        left: 1rem;
        top: 60vh;
    }

    #cloud{
        position: fixed;
        top: 20vh;
        bottom: 50vh;
        right: 1vw;
    }
}